{#
/**
 * Person Profile
 *
 * @author Travis Cook (cooktw@missouri.edu), Digital Service, University of Missouri
 * @copyright 2022 Curators of the University of Missouri
 *
 * Variables:
 * - person_address: (string) Address (optional).
 * - person_biography: (string) Content for person; a bio, presumably (optional).
 * - person_can_be_edited: (boolean) Whether this information can be edited (i.e. can a WordPress user edit the person) (optional).
 * - person_edit_link: (string) Link to an edit interface for this person (optional).
 * - person_email: (string) Email (optional).
 * - person_fax_number: (string) Fax number (optional).
 * - person_id: (string) Id attribute for the block (optional).
 * - person_image_alt: (string) alt for photo of person (optional if no photo).
 * - person_image_resize_width: (int) Width to resize image to (optional, Timber-only).
 * - person_image_resize_height: (int) Height to resize image to (optional, Timber-only).
 * - person_image_src: (string) src for photo of person (optional).
 * - person_modifier_class: (string) A modifier class to apply to the block (optional).
 * - person_name: (string) Name.
 * - person_phone_number: (string) Phone number (optional).
 * - person_position: (string) Position of person.
 */
#}

{% from "@miz/components/card/card.twig" import Card as personCard %}

{% set cardContents = {} %}
{% set CardBodyContent = {} %}

{% set person_heading_level = person_heading_level|default(3) %}
{% set person_biolink = person_biolink|default(false) %}

{% if (person_email) %}
    {% set atsymbol = person_email|split("@") %}
    {% set pawprint = atsymbol[0] %}
    {% set email_domain = atsymbol[1] %}
{% endif %}

{% set person = {
    'id': person_id,
    'classes': person_modifier_class|default(false),
    'name': person_name|default(fields.title),
    'position': person_position|default(person.get_field('position')),
    'content': person_content|default(fields.content),
    'link': person_link|default(fields.link.url),
    'image': {
        'src': person_image_src|default(Image(fields.image).src),
        'alt': person_image_alt|default(Image(fields.image).alt),
        'height': person_image_resize_height|default(300),
        'width': person_image_resize_width|default(234)
    },
    'contact': {
        'office': person_office|default(person.get_field('office_location')),
        'phone': person_phone_number|default(person.get_field('phone_number')),
        'email': person_email|default(person.get_field('email_address')),
        'fax': person_fax_number|default(person.get_field('fax_number')),
        'cv': person_cv|default(person.get_field('cv_link'))
    }
} %}

{% if (person.image.src) and (person.image.alt) %}
    {% set cardImage = {
        "type": "image",
        "src": person.image.src,
        "alt": person.image.alt
    } %}
    {% set cardContents = cardContents|merge([cardImage]) %}
{% endif %}

{% set cardTitle = {
  "type": "title",
  "content": person.name
} %}
{% set CardBodyContent = CardBodyContent|merge([cardTitle]) %}

{% set cardSubtitle = {
  "type": "subtitle",
  "content": person.position
} %}
{% set CardBodyContent = CardBodyContent|merge([cardSubtitle]) %}

{% if person.contact.office %}
  {% set cardOffice = {
    "type": "text",
    "content": '<i class="miz-icon material-icons">place</i> ' ~ person.contact.office
  } %}
  {% set CardBodyContent = CardBodyContent|merge([cardOffice]) %}
{% endif %}

{% if person.contact.email %}
  {% set cardEmail = {
    "type": "text",
    "content": '<i class="miz-icon material-icons">email</i> <a href="mailto:' ~ person.contact.email ~ '">' ~  pawprint ~ '<wbr/>@' ~ email_domain ~ '</a>'
  } %}
  {% set CardBodyContent = CardBodyContent|merge([cardEmail]) %}
{% endif %}

{% if person.contact.phone %}
  {% set cardPhone = {
    "type": "text",
    "content": '<i class="miz-icon material-icons">phone</i> ' ~ person.contact.phone
  } %}
  {% set CardBodyContent = CardBodyContent|merge([cardPhone]) %}
{% endif %}

{% if person.contact.cv %}
  {% set cardCv = {
    "type": "text",
    "content": '<i class="miz-icon material-icons">attachment</i> <a href="' ~ person.contact.cv ~ '" target="_blank">' ~  person.contact.cv ~ '</a>'
  } %}
  {% set CardBodyContent = CardBodyContent|merge([cardCv]) %}
{% endif %}

{% if person.contact.fax %}
  {% set cardFax = {
    "type": "text",
    "content": '<i class="miz-icon material-icons">fax</i> ' ~ person.contact.fax
  } %}
  {% set CardBodyContent = CardBodyContent|merge([cardFax]) %}
{% endif %}

{% if person.content %}
  {% set cardBio = {
    "type": "text",
    "content": person.content
  } %}
  {% set CardBodyContent = CardBodyContent|merge([cardBio]) %}
{% endif %}

{% if person.link %}
  {% set cardLinks = {
    "type": "links",
    "content": [
      {
          "text": "Read Bio",
          "href": person.link
      }
    ]
  } %}
  {% set CardBodyContent = CardBodyContent|merge([cardLinks]) %}
{% endif %}

{% set CardBody = {
  "type": "body",
  "contents": CardBodyContent
} %}
{% set cardContents = cardContents|merge([CardBody]) %}

{% set cardOptions = {
  "class": "miz-card--brand" ~ person.classes,
  "contents": cardContents
} %}

{{ personCard( cardOptions ) }}
