{# Set Variables #}

{# Layer Array #}
{% set featNewsLayer = {
    'title': flexgroup.title,
    'kicker': flexgroup.kicker,
    'content': Post(flexgroup.cards),
    'button': flexgroup.button
} %}

<section class="miz-layer--brand miz-stack-sandwich--xl">
    <div class="miz-container">
        {% if featNewsLayer.kicker or featNewsLayer.title %}
        <header class="miz-layer__header miz-layer__header--center">
            {% if featNewsLayer.kicker %}
                <p class="miz-layer__kicker">{{ featNewsLayer.kicker }}</p>
            {% endif %}
            <h2 class="miz-layer__title">{{ featNewsLayer.title }}</h2>
        </header>
        {% endif %}

        <div class="miz-layer__content">
            {% if featNewsLayer.content is defined and featNewsLayer.content is iterable %}
                <div class="miz-card-deck card-deck miz-news-group miz-featured-news__card-deck">
					{% for Card in featNewsLayer.content %}
						{% include '/layers/card-news.twig' %}
					{% endfor %}
				</div>
            {% endif %}

            {% if featNewsLayer.button is defined and featNewsLayer.button is iterable %}
            {% from "@miz/components/button/button.twig" import AnchorButton as anchorButton %}
                <div class="miz-layer__content--center">
                    {% set ButtonOptions = { "class": "miz-button miz-button--secondary miz-button--brand", "text": featNewsLayer.button.title, 'href': featNewsLayer.button.url }  %}
                    {{ anchorButton( ButtonOptions ) }}
                </div>
            {% endif %}
        </div>
    </div>
</section>
