{# Import #}
{% from "@miz/components/link-list/link-list.twig" import LinkList as linkList %}
{% from "@miz/components/icon/icon.twig" import Icon as icon %}

{# Set Defaults #}
{% set sectionClasses = ['miz-layer', 'miz-main-grid__full'] %}

{# Set Variables #}
{% if flexgroup.displayOptions.plus_decoration %}
	{% set sectionClasses = sectionClasses|merge(['miz-decoration miz-decoration__plus']) %}

	{% if flexgroup.displayOptions.decoration_location is iterable %}
		{% for location in flexgroup.displayOptions.decoration_location %}
			{% set sectionClasses = sectionClasses|merge(["miz-decoration__plus--#{ location }"]) %}
		{% endfor %}
	{% endif %}
{% endif %}

{# Layer Array #}
{% set linkListLayer = {
	'classes': {
		'section': sectionClasses|join(' ')
	},
	'title': flexgroup.title,
    'list': flexgroup.links
} %}

{% set linkListInlineOptions = {"class": "miz-link-list--brand miz-link-list--layer", "list" : []} %}

{% if linkListLayer.list is defined and linkListLayer.list is iterable %}
	{% set Links = [] %}
	{% for Link in linkListLayer.list  %}
		{% set Links = Links|merge([{
			"link": {
				"href": Link.link.url,
				"text": Link.link.title ~ icon({"class": "miz-text--gold miz-flex-item--push", "name": "chevron_right"})
			}
		}]) %}
	{% endfor %}
	{% set linkListInlineOptions = linkListInlineOptions|merge({"list":Links}) %}
{% endif %}

<section class="{{ linkListLayer.classes.section }}">
    <div class="miz-container">
        {% if linkListLayer.title %}
        <header class="miz-text--center">
            <h2 class="miz-graphik">{{ linkListLayer.title }}</h2>
        </header>
        {% endif %}

		{{ linkList( linkListInlineOptions ) }}
    </div>
</section>
