{#
/**
 * Social Media
 *
 * @author Travis Cook (cooktw@missouri.edu), Digital Service, University of Missouri
 * @copyright 2022 Curators of the University of Missouri
 */
#}
{# Defaults #}
{% set social_media_sprite_path = social_media_sprite_path|default(site.theme.parent.link ?? site.theme.link ~ '/assets/images/icons/svg/sprite.symbol.svg') %}
{% set social_icons = social_icons|default(option.contact_social_media) %}

{% if option.contact_social_media.facebook or
	option.contact_social_media.instagram or
	option.contact_social_media.twitter or
	option.contact_social_media.youtube or
	option.contact_social_media.linkedin %}
	{% set social_icons = {
		"facebook": option.contact_social_media.facebook,
		"instagram": option.contact_social_media.instagram,
		"twitter": option.contact_social_media.twitter,
		"linkedin": option.contact_social_media.linkedin,
		"youtube": option.contact_social_media.youtube
	} %}
{% endif %}

{% if social_icons %}
<div class="miz-icon-list{% if (social_media_modifier_class) %} {{ social_media_modifier_class }}{% endif %}">{% spaceless %}
{% block social_media_list %}
{% for key,value in social_icons %}
	{% if value is not empty %}
		{% from "@miz/components/social-media/social-media.twig" import SocialSVG as socialIcon %}

		{% set socialIconsOptions = {
			"class": 'miz-icon--lg',
			"color": theme == 'dark' ? 'white' : 'black',
			"name": key,
			"link": {
				"href": value
			},
			"xlink": social_media_sprite_path
		} %}

		{{ socialIcon( socialIconsOptions ) }}
	{% endif %}
{% endfor %}
{% endblock %}
{% endspaceless %}</div>
{% endif %}
