{#
/**
 * News Archive Template
 *
 * @author Travis Cook (cooktw@missouri.edu), Digital Service, University of Missouri
 * @copyright 2022 Curators of the University of Missouri
 */
#}

{% extends ['page.twig'] %}

{% if option.include_archive_filters %}
	{% set include_sidebar = true %}
{% endif %}

{% block content %}
<article class="miz-main-grid__article">
	{{ parent() }}

	{% if page.description %}
	<p>{{ page.description|raw }}</p>
	{% endif %}

	{% if (news) %}
		<div id="news-collection" class="miz-card-deck miz-card-deck--2">
		{% for Card in news %}
			{% include '/layers/card-news.twig' %}
		{% endfor %}
		</div>

		{% if news.pagination %}
			{% include 'components/navs/pagination.twig' with { 'pagination_include_numbers': true, 'pagination': news.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
		{% endif %}
	{% endif %}
</article>
{% endblock %}


{% if option.include_archive_filters %}
	{% block sidebar_nav %}
		{% include 'components/archive-sidebar-filters.twig' %}
	{% endblock sidebar_nav %}
{% endif %}
