{#
/**
 * Single Template: Page
 *
 * @author Travis Cook (cooktw@missouri.edu), Digital Service, University of Missouri
 * @copyright 2022 Curators of the University of Missouri
 *
 * Variables:
 * - content: (string) Main content.
 * - page: (object) Page content (see https://github.com/jarednova/timber/wiki/TimberPost for properties).
 */
#}

{% extends ['baseView.twig', 'ds-base.twig'] %}

{% if page.get_field('aside_side') == 'left' %}
  {% set page_main_modifier_class = 'miz-main-grid--reverse' %}
{% endif %}

{% block breadcrumbs %}
	{% if option.include_breadcrumbs %}
	<div class="miz-container">
			{% include 'components/navs/breadcrumbs.twig' %}
	</div>
	{% endif %}
{% endblock %}

{% block content %}
	{% if page.content %}
    <article class="miz-main-grid__article">
			{{ page.content }}
		</article>
  {% endif %}
{% endblock %}

{% if page.sub_navigation.items %}
	{% block sidebar_nav %}
		{% include '@miz-block/navigations/sub-navigation.twig' ignore missing with {
			'nav_items': page.sub_navigation.items
		} %}
	{% endblock sidebar_nav %}
{% endif %}

{% set post_content %}
  {% block post_content__layer_processing %}
    {% if page.meta('layout-post') is defined and page.meta('layout-post') is iterable %}
      {% include 'flexgroups.twig' with {"Flexgroups" : page.get_field('layout-post') } %}
    {% endif %}
  {% endblock %}
{% endset %}
