.miz-split-layout {
	@include media-breakpoint-up(lg) {
		grid-template:
      'margin-left split-layout__figure split-layout__content-frame margin-right' min-content
      'margin-left split-layout__figure split-layout__content-frame margin-right' min-content
      'margin-left split-layout__figure . margin-right' max-content
      / minmax(0, 1fr) minmax(432px, 568px) minmax(432px, 568px) minmax(0, 1fr) !important;
	}
}

.miz-split-layout__content--frame {
	&.miz-fill--transparent {
		p {
			color: $miz-white;
		}
	}
}

.miz-split-layout__figure--video {
	aspect-ratio: 16 / 9;
	position: relative;
	width: 100%;

	.miz-split-layout__video {
		position: absolute;
		height: 100%;
		width: 100%;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
	}
}
