.miz-split-layout__content--frame {
	&.miz-fill--transparent, &.miz-fill--black {
		p {
			color: $miz-white;

			a {
				color: $miz-white;
			}
		}
	}
}

.miz-split-layout__content {
	.miz-button-group {
		display: flex;
		gap: 1rem;
		flex-wrap: wrap;
		flex-direction: column;

		@include media-breakpoint-up(md) {
			flex-direction: row;
		}
	}
}

.miz-split-layout__figure {
	z-index: 1;
}

.miz-split-layout__figure--video {
	aspect-ratio: 16 / 9;
	position: relative;
	width: 100%;

	.miz-split-layout__video {
		position: absolute;
		height: 100%;
		width: 100%;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
	}
}
