{#
/**
 * Navigation
 *
 * @author Travis Cook (cooktw@missouri.edu), Digital Service, University of Missouri
 * @copyright 2022 Curators of the University of Missouri
 *
 * Variables:
 * - navigation_current_page: (string) Current page address (optional, see default).
 * - navigation_hide_unselected_child_links: (boolean) Whether to hide child navigation items of unselected links (optional, see default).
 * - navigation_id: (string) An id to apply to the block (optional).
 * - navigation_items: (array) Navigation items (optional, see default).
 * - navigation_modifier_class: (string) A modifier class to apply to the block (optional).
 */
#}
{% set nav_macro = 'macros/navigation.twig' %}
{% import nav_macro as ui %}

{# Defaults #}
{% set navigation_container_modifier_class = navigation_container_modifier_class|default('miz-container') %}
{% set navigation_current_page = navigation_current_page|default(page.current_page) %}
{% set navigation_hide_unselected_child_links = navigation_hide_unselected_child_links|default(true) %}
{% set navigation_items = navigation_items|default(site.primary_navigation.items) %}
{% set navigation_parent_pages = navigation_parent_pages|default(page.parent_pages) %}

{% if (navigation_items) %}
    <nav role="navigation"{% if (navigation_id) %} id="{{ navigation_id }}"{% endif %}{% if (navigation_modifier_class) %} class="{{ navigation_modifier_class }}"{% endif %}>
        <div class="nav__container{% if (navigation_container_modifier_class) %} {{ navigation_container_modifier_class }}{% endif %}">
            {{ ui.navigation(navigation_items, navigation_current_page, navigation_parent_pages, navigation_hide_unselected_child_links) }}
        </div>
    </nav>
{% endif %}
