.wp-block-paragraph {
  margin-bottom: 1rem !important;
}

.block-editor-default-block-appender .block-editor-default-block-appender__content {
  margin: 0;
}

.block-editor-link-control {
  min-width: initial !important;
}

.edit-post-visual-editor {
  background: var(--wp--preset--color--miz-white);
}

.edit-site-visual-editor__editor-canvas {
  background-color: var(--wp--preset--color--miz-black-500) !important;
}