<!-- wp:template-part {"slug":"header","tagName":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"tagName":"main","className":"miz-main-grid","layout":{"inherit":false},"style":{"spacing":{"blockGap":"0rem"}},"lock":{"move":true,"remove":true}} -->
<main class="wp-block-group miz-main-grid" id="content">
  <!-- wp:group {"tagName":"header","className":"miz-page-header","layout":{"inherit":false}} -->
  <header class="wp-block-group miz-page-header">
    <!-- wp:group {"className":"miz-container"} -->
    <div class="wp-block-group miz-container">

    </div>
    <!-- /wp:group -->
  </header>
  <!-- /wp:group -->

  <!-- wp:group {"tagName":"article","className":"miz-main-grid__article","layout":{"inherit":false}} -->
  <article class="wp-block-group miz-main-grid__article">
    <!-- wp:query {"queryId":3,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"layout":{"type":"default"}} -->
		<div class="wp-block-query">
			<!-- wp:post-template -->
				<!-- wp:mizzou/card {"brand":true,"className":"miz-news-card"} -->
				<div class="miz-card miz-card--brand wp-block-mizzou-card miz-news-card">
					<!-- wp:mizzou/card-part {"type":"media"} -->
					<figure class="miz-card__media wp-block-mizzou-card-part"><!-- wp:post-featured-image {"className":"miz-news-card__thumb-container"} /--></figure>
					<!-- /wp:mizzou/card-part -->

					<!-- wp:mizzou/card-part {"type":"body"} -->
					<div class="miz-card__body wp-block-mizzou-card-part">
						<!-- wp:post-title {"isLink":true,"className":"miz-card__title"} /-->

						<!-- wp:post-excerpt /-->
					</div>
					<!-- /wp:mizzou/card-part -->
				</div>
				<!-- /wp:mizzou/card -->
			<!-- /wp:post-template -->

			<!-- wp:query-pagination -->
			<!-- wp:query-pagination-previous /-->

			<!-- wp:query-pagination-numbers /-->

			<!-- wp:query-pagination-next /-->
			<!-- /wp:query-pagination -->

			<!-- wp:query-no-results -->
			<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
			<p></p>
			<!-- /wp:paragraph -->
			<!-- /wp:query-no-results -->
		</div>
		<!-- /wp:query -->
  </article>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","lock":{"move":true,"remove":true}} /-->
