// Global values for your scss
//
// WordPress
$WP_THEME_NAME: 'MU Hybrid Base Theme';
$WP_THEME_URI: 'https://digitalservice.missouri.edu/';
$WP_AUTHOR: 'Travis Cook (cooktw@missouri.edu), Digital Service, University of Missouri';
$WP_AUTHOR_URI: 'https://missouri.edu/';
$WP_THEME_DESCRIPTION: 'Default Mizzou Hybrid WordPress Theme.';
$WP_TEXT_DOMAIN: 'miz-hybrid-base';
$WP_THEME_VERSION: '0.5.8';
$WP_TAGS: 'full-site-editing, custom-colors, featured-images, editor-style';
